.registro-container {
  background-color: #0b0b0d;
  color: #fff;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  padding: 30px 20px;
  margin: 30px;
}


.registro-header {
  text-align: center;
  margin-bottom: 30px;
  
}

.registro-header h1 {
  font-size: 2rem;
  color: #ffcc00;
  margin-bottom: 10px;
}

.registro-header p {
  font-size: 1.1rem;
  color: #ccc;
}

.registro-benefits {
    margin: 30px auto;
    padding: 20px;
    max-width: 800px;
    background: rgba(30,30,40,0.6);
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    align-items: center; /* centra el contenido */
}

.registro-benefits h2 {
    text-align: center;
  color:#ffcc00;
  margin-bottom: 10px;
}

.registro-benefits ul {
  list-style: disc;
  padding-left: 20px;
}

.registro-benefits li {
  margin-bottom: 8px;
  font-size: 1rem;
}

.registro-form-section {
  margin: 30px auto;
  padding: 20px;
  max-width: 800px;
  background: rgba(30,30,40,0.6); 
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);

   display: flex;
    flex-direction: column;
    align-items: center; /* centra el formulario */
}
.registro-form {
    width: 50%; /* para que los inputs ocupen el ancho del contenedor */
}

.registro-form-section h2 {
  color: #ffcc00;
  margin-bottom: 20px;
  text-align: center;
}

.registro-form .form-group {
  display: flex;
  flex-direction: column;
  
  margin-bottom: 15px;
  max-width: 100%;
}

.registro-form label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.95rem;
}

.registro-form input {
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.1);
  color: #fff;
  font-size: 0.95rem;
  transition: 0.3s;
  
}

.registro-form input:focus {
  background: rgba(255,255,255,0.2);
  box-shadow: 0 0 8px #ffcc00;
}

.btn-submit {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  background: #ffcc00;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.btn-submit:hover {
  background: #f39c12;
  color: #fff;
}
