.filtro-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.filtro-select {
  width: 525px;
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.1);
  color: #fff;
  font-size: 0.95rem;
  transition: 0.3s;
  cursor: pointer;
}

.filtro-select:focus {
  background: rgba(255,255,255,0.2);
  box-shadow: 0 0 8px #ffcc00;
}

.filtro-select option {
  background: #0b0b0d;       /* mismo fondo oscuro */
  color: #fff;
}

.filtro-select option:hover {
  background: rgba(255,255,255,0.15);
}